// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;

// Custom color
$white: #F7F9F9;
$pastel-red: #EF6461;
$body-color: #011627;
$header-color: #172A3A;
$btn-color:#D8E0FF;
$light-gray: #E8E8E8;
$green: #21bf73;
