<div class="container mt-5">
  <h1>Coming soon....</h1>
  <p>
    Thanks for visiting! This page is currently under development.
    It will be up and running by 28/02/2020 => check back then!
  </p>

  <%= link_to "Planets", planets_path %>

</div>
