<div class="container mt-5">
  <h1>Coming soon....</h1>
  <p>
    Thanks for visiting! This page is currently under development.
    It will be up and running by 28/02/2020 => check back then!
  </p>

  <div class="trip-card">
    <div class="trip-notif">
      <img src="https://images.unsplash.com/photo-1582236829590-f8cb7de75229" alt="" class="avatar">
      <p>Request sent to jikhlu</p>
    </div>
    <div class="trip-details">
        <img src="https://images.unsplash.com/photo-1538291323976-37dcaafccb12" alt="">
      <div class="trip-info">
        <div class="trip-header">
          <h2>Neptune</h2>
          <p>Coordinates</p>
        </div>
        <div class="trip-booking-info">
          <div class="trip-icons">
            <i class="fas fa-snowflake"></i>
            <i class="fas fa-biohazard"></i>
            <i class="fab fa-reddit-alien"></i> <span>500</span>
          </div>
          <div class="trip-price">
            <p>Total</p>
            <p>45 657.60$</p>
          </div>
        </div>
        <div class="trip-footer">
          <p> <strong>Status:</strong> pending...</p>
        </div>
      </div>
    </div>
  </div>
</div>
