.btn-rounded {
  color: $body-color;
  padding: 8px 24px;
  border-radius: 10px;
  background: $btn-color;
  transition: background 0.3s ease;
  text-align: center;
  margin-right: 16px;
}

.btn-rounded:hover {
  background: $btn-color;
  color: $header-color;
  text-decoration: none;
  text-align: center;
}

.ghost {
  color: $body-color;
  padding: 8px 24px;
  font-weight: light;
  opacity: 0.7;
  text-align: center
}

.ghost:hover {
  opacity: 1;
  color: $header-color;
  text-align: center
}
.add-btn{
  color:$header-color;
  opacity: 0.7;
  &:hover{
  color:$header-color;
  opacity: 1;
  }
}

.btn-approve {
  color: $green;
  opacity: 0.6;
  text-align: center;
  padding: 8px 24px;
}

.btn-approve:hover {
  opacity: 1;
  color: $green;
  text-align: center;
  font-weight: bolder;
}
.btn-reject {
  color: $red;
  opacity: 0.6;
  text-align: center;
  padding: 8px 24px;
}

.btn-reject:hover {
  opacity: 1;
  color: $red;
  text-align: center;
  font-weight: bolder;
}

