.stella-form{
  margin: 10%;
  h2{
    margin-bottom: 20px;
  }
}
.form-control{
  border-bottom: 1px solid #e8e8e8;
  background-color: $white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  &:focus{
    border-color: #e8e8e8;
    box-shadow: 0 0 0 0 rgba(22, 127, 251, 0.25);
  }
}

.form-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
  a{
  color: $body-color;
  opacity: 0.7;
  text-decoration: underline;
  }
}
