.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: baseline;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav{
  align-items: baseline;
}
