.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: baseline;
  background-color: $header-color;
}

.navbar-light .navbar-toggler {
  border-color: $btn-color;
}
.navbar-light .menu-icon {
  text-align: center;
  color: $btn-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav{
  align-items: baseline;
}

#menu-1{
.nav-link{
  color: $btn-color;
  }
}
#menu-2{
  .nav-link{
  color: $btn-color;
  }
}
#menu-3{
  .nav-link{
  color: $btn-color;
  }
}
#menu-4{
  .nav-link{
  color: $btn-color;
  }
}

