.container{
  overflow:scroll;
  height: 100%;
}
.trip-card{
  margin: 24px 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 4px;
  position: relative;
  .destroy-icon{
    position: absolute;
    color: $pastel-red;
    padding:8px;
    right: 8px;
    top: 8px;
    z-index: 300;
    font-size: 24px;
  }
}

.trip-notif {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  margin-left:8px;
  width: 100%;
  p {
    margin: 0;
    line-height: 1.4;
    flex-grow: 1;
    padding: 0 8px;
    color: #696c70;
  }
}

.trip-details {
  overflow: hidden;
  height: 120px;
  background: $white;
  display: flex;
  align-items: center;
  width: 100%;
     img {
      height: 100%;
      width: 120px;
      object-fit: cover;
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
}

.trip-info{
  margin-left: 16px;
  width: 100%
}

.trip-header{
  p{
    margin-top: 0;
  }
}

.trip-booking-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.trip-price{
  margin-right: 4px;
  p{
    text-align: center;
  }
}

.request-status{
  display: flex;
  justify-content: space-evenly;
  p{
    margin: 8px 0;
  }
}








